@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#button {
  font-family: "Permanent Marker", cursive;
}
